#game {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.game-header {
	display: flex;
	height: 40px;
	justify-content: space-between;
}

.game-content {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
}
.game-footer {
	display: flex;
	height: 100px;
	justify-content: space-between;
}

#game-heart {
	display: flex;
}

.heart {
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heart img {
	width: 100%;
}

.heart.hurt img{
	filter: saturate(0);
}

#game-pts img {
	width: 45px;
}

.game-profile {
    aspect-ratio: 1 / 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100px - 20px);
}

.game-profile img {
	width: 100%;
	/* overflow: hidden; */
}

#game-pts {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.game-image {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.game-image img {
	position: absolute;
	height: 100%;
}

.game-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.game-text {
	padding: 10px;
	z-index: 2;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}

.game-images {
	display: grid;
	flex: 1;
	grid-template-areas: "img1 img2" "img3 img4";
	padding: 15px;
	gap: 15px;
}

.game-image:hover{
    background-color: #121212;
}

.game-image-mark{
	outline: 5px #26cf26 solid;
}

#nextTest {
	height: 50px;
	width: 100px;
	background: black;
	color: #26cf26;
	border: 5px solid #26cf26;
}
#allGameImage{
	z-index: 1;
}

#allGameImage, #gameImageLoad{
	z-index: 0;
	background-color: black;
}

.game-show{
	z-index: 1 !important;
}

#gameImageLoad {
	position: absolute;	
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

#gameImageLoad div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	animation: blink2 3s infinite;
}

@keyframes blink2{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}

}
	