@font-face {
    font-family: pixel;
    src: url('fonts/pixelart/04B_30__.TTF');
  }

*{padding: 0; margin: 0; position: relative; font-family: pixel;}

body{ width: 100vw; height: 100vh; overflow: hidden; background-color: black;}

*{    
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Eldest_Cursor.png) , default !important;
}

button, a, .pointer, .game-image, .game-image img  {
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Eldest_Pointer.png) , pointer !important;
}

#app {
	width: 100vw;
	height: 100vh;
    background-color: transparent;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
}

.effect-background {
	position: absolute;
	top: 0;
	left: 0;
    opacity: 0;
    transition: 2s;
}

.effect-background-active{
    opacity: 1;
}